.tile {
  display: grid;
  place-content: center;
}

.black-tile {
  background: radial-gradient(circle, #2d3131, #1d1e20);
}

.white-tile {
  background: radial-gradient(circle, #a0a2a4, #9ea0a1);
}

.tile .chess-piece {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}
.tile .chess-piece:hover {
  cursor: pointer;
}

.tile .chess-piece:active {
  cursor: grabbing;
}
