#chess-board {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  width: 640px;
  height: 640px;
  background-color: blue;
}
